@tailwind base;
@tailwind components;
@tailwind utilities;

.section-loading-animation {
  /* position: relative;
  top: 50%;
  left: 50%; */

  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  /* width: 120px; */
  /* height: 120px; */

  /* margin: -60px 0 0 -60px; */
  /* margin: auto; */
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.window-loading-animation {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  top: 50%;
  left: 50%;
  /* position: relative;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px; */
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
